*{
    font-family: Arial, Helvetica, sans-serif;
}

.header-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.body-container{
    display: flex;
    flex-direction: column;
    align-content: flex-start ;
    flex-wrap: wrap;
}

.second-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

.second-two-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;

}

.third-container{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    flex-wrap: wrap;

}

.fourth-container{
    background-color: #3882F6;
    font-size: 24px;
    margin-left: 12%;
    margin-right: 10%;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    border: 1px solid #3882F6;
    border-radius: 10px;
    flex-wrap: wrap;
   position: relative;top: 10%;

}

.fifth-container{
    display: flex;
    margin-top: 2.5%;
}

.hlink1{
    margin-left: auto;
    color: #e5e7eb;
    text-decoration:none;
    font-size: 18px;
    margin-top: 1%;
}

.hlink2{
    color: #e5e7eb;
    text-decoration:none;
    font-size: 18px;
    margin-top: 1%;

}

.hlink3{
    color: #e5e7eb;
    text-decoration:none;
    margin-right: 8%;
    font-size: 18px;
    margin-top: 1%;

}

#section1{
    background-color:#1F2937;
}

#section3{
    background-color:#E5E7EB ;
}

.section5{
    background-color: #1F2937;
}

.box-item {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid #3882F6;
    border-radius: 25px;

}

.heading1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: -1%;
}

.heading2{
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
    position: relative;-left: 0.3px;
    margin-top: 50px;
}

.heading3{
    margin-left: auto;
    font-size: 24px;
    position: relative;bottom: 10px;
}

.heading4{
    position: relative; right: -45px; bottom: -20px;
    font-weight: bolder;
}

.heading5{
    margin-top: 4%;
    font-size: 18px;
    color: #F9FAF8;
    position: relative; left: 600px; top: -6px;
}

.hdiv1{
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 10%;
    margin-top: 1%;

}

.para1{
    font-size: 18px;
    color: #e5e7eb;
    justify-content: center;
    align-self: flex-start;
    margin-left: 10%;
    margin-bottom: -6%;
}    

.para2{
    font-size:36px ;
    font-style: italic;
    font-weight: lighter;
}

.para3{
    position: relative; right: -45px; bottom: 10px;
}

.img1{
    align-self: center;
    margin-left: 50%;
    margin-bottom: 10%;
    position:relative; right:-10px; top:-50px;

}

.button1{
    background-color: #3882F6;
    border: 2px solid #3882F6;
    border-radius: 15px;
    width: 150px;
    height: 40px;
    margin-left: 16%;
    position:relative; left:7px; bottom:300px;
    color: #e5e7eb;
    font-size: 17px;
}

.button2{
    width: 150px;
    height: 40px;
    border: 2px solid white;
    background-color: #3882F6;
    font-size: 24px;
    border-radius: 25px;
    color: #F9FAF8;
    position: relative;right: -800px; bottom: 65px;
}

.heading2{
    position: relative; right: -555px;
}

